{% set public_port = 443 if graylog_http_enable_tls else 80 %}
# server entry provided by "jdauphant.nginx"

    listen *:{{ public_port }} {% if graylog_http_enable_tls %}ssl{% endif %};
    server_name  localhost;
{% if graylog_http_enable_tls %}
    ssl_certificate       {{ graylog_http_tls_cert_file }};
    ssl_certificate_key   {{ graylog_http_tls_key_file }};
    ssl_protocols         SSLv3 TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers           HIGH:!aNULL:!MD5;
    ssl_session_cache     shared:SSL:20m;
    ssl_session_timeout   4h;
{% endif %}

    location / {
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Graylog-Server-URL {% if graylog_http_enable_tls %}https{% else %}http{% endif %}://$host;
        proxy_pass http://localhost:9000;
    }
